.side {
    background: #f9f1f1;
}

td {
    font-size: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.btn1 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
}

a {
    text-decoration: none;
}

.form-check {
    display: inline-block;
}

.btn-save{
    padding: 10px 50px;
    color: white;
    background: #12b886;
    width: fit-content;
    margin-left: 60%;
    border-radius: 5px;
}