*{
    margin: 0;
    padding: 0;
}

header{
    border: solid 1px #12b886;
    background: #12b886;
}

.navbar>ul {
    margin: auto;
    padding: 2rem;
}

.navbar>ul>li {
    display: inline;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.active {
    font-weight: bold;
}

footer{
    border: solid 1px #12b886;
    background: #12b886;
    width: 100%;
}