* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #495057;
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;
    margin: 0;
}
/* Main */
.container {
    display: flex;
    justify-content: space-between;
}

.left-sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
}

.left-sidebar h2 {
    margin-bottom: 10px;
}

.left-sidebar .logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.left-sidebar input[type="file"] {
    margin-bottom: 20px;
}

.content {
    width: 70%;
    padding: 20px;
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="button"] {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #12b886;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0069d9;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.save-button,
.delete-button {
    padding: 8px 16px;
    font-size: 14px;
}
